.item {
  width: var(--content-width);
  height: 80px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px 0 var(--color-secondary);
  line-break: normal;
  text-align: justify;
  max-height: 100%;
  overflow-wrap: break-word;

  &__title,
  &__done {
    width: 300px;
  }

  &__done {
    text-decoration: line-through;
    opacity: var(--opacity);
  }

  & form {
    width: 300px;
  }
}