* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

input,
button {
  height: var(--input-height);
}

button {
  opacity: var(--opacity);

  &:hover {
    opacity: 1;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}