.button-primary {
  background-color: var(--color-button-primary);
}

.button-secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
}

.danger {
  background-color: var(--color-danger);
}